.badge{
   position:relative;
}
.badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   bottom:0.3em;
   right:12px;
   font-size:10px;
   background:#DD6277;
   color:white;
   width:19px;
   height:13px;
   text-align:center;
   border-radius:3px;
   box-shadow:0 0 1px #333;
   padding-bottom: 3px;
}
.leftMenu{
	width:280px;
}
#rightContentPanel{
	border:0px;
	margin:0px auto;
	width:97%;
	text-align:center;
}
.right-content-header{
	padding:3px;
}
.right-content-header-text{
	font-size:19px;
	font-weight:bold;
}
.right-content-header-buttons-panel{
	width:95%;
	height:40px;
	margin:0px auto;
	border:0px;
	padding:3px;
}
.right-content-header-button, .right-content-header-label, .right-content-header-select{
	float:left;
	margin-right:8px;
}
.right-content-header-label{
	margin-top:8px;
}
.right-content-header-select{
	margin-top:2px;
}
a.ui-menuitem-link:hover{
background-color: #dddddd;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#dddddd));
/* background: -webkit-linear-gradient(#fdfdfd,#dddddd); */
background: -moz-linear-gradient(#fdfdfd,#dddddd);
background: -ms-linear-gradient(#fdfdfd,#dddddd);
background: -o-linear-gradient(#fdfdfd,#dddddd);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dddddd');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dddddd');
background: linear-gradient(#fdfdfd,#dddddd);
outline: 0;
color: #000000;
text-shadow: 0 -1px 2px rgba(255,255,255,0.5);
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
background-color: #7D7D7D;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#7D7D7D),color-stop(100%,#7D7D7D));
background: -webkit-linear-gradient(#7D7D7D,#7D7D7D);
background: -moz-linear-gradient(#7D7D7D,#7D7D7D);
background: -ms-linear-gradient(#7D7D7D,#7D7D7D);
background: -o-linear-gradient(#7D7D7D,#7D7D7D);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D', endColorstr='#7D7D7D');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D', endColorstr='#7D7D7D');
background: linear-gradient(#7D7D7D,#7D7D7D);
outline: 0;
border: 1px solid #000;
color: #FFF;
text-shadow: 0 -1px 2px rgba(255,255,255,0.5);
}
.ui-blockui{
z-index:2000;
}
.ui-blockui-content{
z-index:3000;
}
.ui-separator{
margin-top:8px;
float:left;
margin-right: 8px;
}
.deleteCategoryPanel{
padding:15px;
}
.ui-tree-container{
text-align:left;
}
.autoHeightPanel{
overflow: hidden;
}

.floatLeft{
float:left;
}
.text-align-left{
text-align:left;
}
.divStyle{
border:0px;
padding:0px;
}
.width20{
width:20%;
}
.width78{
width:78%;
}
.leftTree{
width:100%;
}
.noPadding{
padding:0px;
}
.treeHeader{
margin-bottom:5px;
text-align:left;
font-weight: bold;
overflow:hidden;
}
.treeHeaderText{
font-size: 16px;
margin-top:3px;
float:left;
}
.treeHeaderTextNormal{
font-size: 16px;
margin-top:3px;
float:left;
font-weight: normal;
}
.buttonInColumn{
width:160px;
}