.badge-new{
   position:relative;
}
.badge-new[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   bottom:0.3em;
   right:12px;
   font-size:10px;
   background:#DD6277;
   color:white;
   width:25px;
   height:13px;
   text-align:center;
   border-radius:3px;
   box-shadow:0 0 1px #333;
   padding-bottom: 3px;
}
.badge-update{
   position:relative;
}
.badge-update[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   bottom:0.3em;
   right:12px;
   font-size:10px;
   background:#DD6277;
   color:white;
   width:55px;
   height:13px;
   text-align:center;
   border-radius:3px;
   box-shadow:0 0 1px #333;
   padding-bottom: 3px;
}
.badge{
   position:relative;
}
.badge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   bottom:0.3em;
   right:12px;
   font-size:10px;
   background:#DD6277;
   color:white;
   width:19px;
   height:13px;
   text-align:center;
   border-radius:3px;
   box-shadow:0 0 1px #333;
   padding-bottom: 3px;
}
.leftMenu{
	width:280px;
}
#rightContentPanel{
	border:0px;
	margin:0px auto;
	width:99%;
	text-align:center;
}
.right-content-header{
	padding:3px;
}
.right-content-header-text{
	font-size:19px;
	font-weight:bold;
}
.right-content-header-buttons-panel{
	width:100%;
	height:40px;
	margin:0px auto;
	border:0px;
	padding:2px;
}
.right-content-header-button, .right-content-header-label, .right-content-header-select{
	float:left;
	margin-right:8px;
}
.right-content-header-label{
	margin-top:8px;
}
.right-content-header-select{
	margin-top:2px;
}
a.ui-menuitem-link:hover{
background-color: #dddddd;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fdfdfd),color-stop(100%,#dddddd));
/* background: -webkit-linear-gradient(#fdfdfd,#dddddd); */
background: -moz-linear-gradient(#fdfdfd,#dddddd);
background: -ms-linear-gradient(#fdfdfd,#dddddd);
background: -o-linear-gradient(#fdfdfd,#dddddd);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dddddd');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#dddddd');
background: linear-gradient(#fdfdfd,#dddddd);
outline: 0;
color: #000000;
text-shadow: 0 -1px 2px rgba(255,255,255,0.5);
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
background-color: #7D7D7D;
background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#7D7D7D),color-stop(100%,#7D7D7D));
background: -webkit-linear-gradient(#7D7D7D,#7D7D7D);
background: -moz-linear-gradient(#7D7D7D,#7D7D7D);
background: -ms-linear-gradient(#7D7D7D,#7D7D7D);
background: -o-linear-gradient(#7D7D7D,#7D7D7D);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D', endColorstr='#7D7D7D');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7D7D7D', endColorstr='#7D7D7D');
background: linear-gradient(#7D7D7D,#7D7D7D);
outline: 0;
border: 1px solid #000;
color: #FFF;
text-shadow: 0 -1px 2px rgba(255,255,255,0.5);
}
.ui-blockui{
z-index:2000;
}
.ui-blockui-content{
z-index:3000;
}
.ui-separator{
margin-top:8px;
float:left;
margin-right: 8px;
}
.deleteCategoryPanel{
padding:15px;
}
.ui-tree-container{
text-align:left;
}
.autoHeightPanel{
overflow: hidden;
}

.floatLeft{
float:left;
}
.text-align-left{
text-align:left;
}
.divStyle{
border:0px;
padding:0px;
}
.width20{
width:20%;
}
.width63{
width:63%;
}
.width60{
width:60%;
}
.width70{
width:70%;
}
.width78{
width:78%;
}
.width80{
width:80%;
}
.width85{
width:85%;
}
.width100{
width:100%;
}
.leftTree{
width:100%;
}
.noPadding{
padding:0px;
}
.treeHeader{
margin-bottom:5px;
text-align:left;
font-weight: bold;
overflow:hidden;
}
.treeHeaderText{
font-size: 16px;
margin-top:3px;
float:left;
}
.treeHeaderTextNormal{
font-size: 16px;
margin-top:3px;
float:left;
font-weight: normal;
}
.buttonInColumn{
width:160px;
}
.outdated-1{
color:#BBA9B1;
}
.forizontalSeparator{
width:100%;
}
.text-bold{
font-weight:bold;
}

.loginPanel{
width: 350px;
margin: 30px auto;
border: 1px solid #fff;
border-radius: 5px;
box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
padding-bottom:20px;
}
.loginPanelHeader{
padding: 20px 20px 15px 20px;
}
.loginPanelHeaderText{
font-family: 'Bree Serif', serif;
font-weight: bold;
font-size: 28px;
line-height: 34px;
color: #414848;
text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
margin-bottom: 10px;
float:left;
}
.loginInput{
width: 188px;
padding: 15px 25px;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: 400;
font-size: 14px;
color: #9d9e9e;
text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
background: #fff;
border: 1px solid #fff;
border-radius: 5px;
box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
}
.loginButton{
margin：5px auto 5px;
width:240px;
padding: 7px 20px;
font-family: 'Bree Serif', serif;
font-weight: 300;
font-size: 18px;
color: #fff;
text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
background: #56c2e1;
border: 1px solid #46b3d3;
border-radius: 5px;
cursor: pointer;
box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.loginButton:hover{
background: #3f9db8;
border: 1px solid rgba(256,256,256,0.75);
box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
color: #fff;
}

.testDataNoticePanel{
padding-left:25px;
}
.testDataNotice{
text-align:left;
display:block;
font-size: 11px;
line-height: 16px;
color: #678889;
text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}
.ui-wizard-step-title{
font-size:15px;
}
.ui-wizard-nav-back{
padding:4px 6px 4px;
width:120px;
}
.ui-wizard-nav-next{
padding:4px 6px 4px;
width:120px;
}
.stockout{
background-color:#F2B3A0;
background:#F2B3A0;
}
.available{
}
.marginAuto{
margin:0px auto 0px;
}
.Approved{
color:green;
}
.WaitingForApproval{
color:red;
}
.ApprovedPartly{
color:orange;
}
.ui-inplace .ui-inplace-editor{
display:block;
}
.alertRow{
background-color:#F2B3A0;
background:#F2B3A0;
}
.weekEvent{
border: 1px solid #6699FF;
background-color: #6699FF;
}
.monthEvent{
border: 1px solid #336699;
background-color: #336699;
}
.greenText{
color:green;
}
.redText{
color:red;
}
.right-content-header-buttons-panel1{
	width:100%;
	height:30px;
	margin:0px auto;
	border:0px;
	padding:2px;
}